@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import 'carousel.css';
@import 'text-editor.css';
@import "systems/pfui-pf2e.css";
@import 'compatibility.css';
@import 'privacy-button.css';
@import 'alliance-viewer.css';
@import 'dark-sheet.css';
@import 'dark-party-sheet.css';
@import 'dark-loot-sheet.css';
@import 'dark-npc-sheet.css';
@import 'dark-hazard-sheet.css';
@import 'dark-kingdom-sheet.css';
@import 'simply-portraits.css';
@import 'dark-custom.css';
@import 'pause-icon-config.css';

/* POLICES
====================================================== */
@font-face {
	font-family: "Taroca";
	src: url("./systems/fonts/Taroca.ttf") format('truetype');
}
@font-face {
	font-family: "Good OT";
	src: url("./systems/fonts/GoodOT.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Bold";
	src: url("./systems/fonts/GoodOT-Bold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Cond Bold";
	src: url("./systems/fonts/GoodOT-CondBold.otf") format('opentype');
}
@font-face {
	font-family: "Good OT Italic";
	src: url("./systems/fonts/GoodOT-Italic.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Std";
	src: url("./systems/fonts/Sabon-LT-Std-Roman.otf") format('opentype');
}
@font-face {
	font-family: "Sabon LT Italic";
	src: url("./systems/fonts/Sabon-LT-Std-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "tauri";
    src: url("./systems/fonts/Tauri-Regular.ttf") format('truetype');
}

/*************************************************************/
/*============ Background/Pause img / Logo ==================*/
/*************************************************************/
body {
    background-image: url(../ui/artwork/pfrpg-background.webp);
    background-size: cover;
}

:root {
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --rpg-styled-ui-color: #837360;
    --rpg-styled-ui-grey-color: #7a7971;
    --rpg-styled-ui-background: #ffffff14;
    --green: #91a82a;
    --blue: #171f69;
    --success-critical:rgb(107, 255, 0);
    --success: rgb(0, 241, 255);
    --failure: rgb(255, 129, 0);
    --criticalFailure:rgb(247, 59, 59);
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --border-color: #372d25;
    --serif: Eczar,Georgia,serif;
    --journal-serif: "Vollkorn",var(--serif);
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-shadow: var(--glassy) , var(--box-shadow);
    --glassy-sharp: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    --glassy-sharp-highlight: 0px 0px 0px 1px rgba(245, 222, 179, 0.7) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.8);

    --background: #100d0d;
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;
    --box-shadow-pf2e: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    --box-shadow-light: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4), inset 0px 0px 3px 1px var(--color-cool-3);

    --primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    --secondary: var(var(--color-cool-3));

    --text-shadow: 0px 1px 2px black;

/* Foundry2
====================================================== */
    --color-light-1: #f7f3e8;
    --color-light-1-90: #f7f3e890;
    --color-light-2: #efe6d8;
    --color-light-2-90: #efe6d890;
    --color-light-3: #e7d1b1;
    --color-light-3-90: #e7d1b190;
    --color-light-4: #d0b8a3;
    --color-light-4-90: #d0b8a390;
    --color-light-5: #9f8475;
    --color-light-5-90: #9f847590;
    --color-light-6: #816b66;
    --color-light-6-90: #816b6690;
    --color-warm-1: #ee9b3a;
    --color-warm-1-90: #ee9b3a90;
    --color-warm-2: #c9593f;
    --color-warm-2-90: #c9593f90;
    --color-warm-3: #5d142b;
    --color-warm-3-90: #5d142b90;
    --color-warm-4: #420418;
    --color-warm-4-90: #42041890;
    --color-warm-5: #26020d;
    --color-warm-5-90: #26020d90;
    --color-cool-1: #b1a0d4;
    --color-cool-1-90: #b1a0d490;
    --color-cool-2: #79689c;
    --color-cool-2-90: #79689c90;
    --color-cool-3: #584a75;
    --color-cool-3-90: #584a7590;
    --color-cool-4: #302831;
    --color-cool-4-90: #30283190;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);

    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;

    --color-bg-physical: rgba(132, 132, 132, 0.125);
    --color-bg-btn-minor-active: #b5b3a4;
    --color-border-physical: #737272;
    --color-text-physical: #a0a0a0;
}

#logo {
    left: 22px;
}

body.compact-mode #logo {
    display: none;
}

.hide {
    visibility: hidden;
}

.new-logo {
    z-index: 6;
    position: relative;
    left: 22px;
    width: 80px;
    top: 10px;
    color: var(--pfui-main-color);
    font-family: 'Kurale', serif;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

.new-logo::before {
    position: absolute;
    content: " ";
    width: 128%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}

#context-menu ol.context-items, 
#context-menu li.context-group > ol {
    color: var(--pfui-main-color);
    background: var(--color-cool-5);
    border: unset;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}
#context-menu li.context-item:hover {
    color: var(--color-warm-1);
}


/*************************************************************/
/*======================= SIDEBAR ===========================*/
/*************************************************************/

#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: var(--sidebar-width);
    height: calc(100% - 10px);
    position: relative;
    overflow: visible;
    margin: -10px 0 0 0px;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}
#sidebar.collapsed #sidebar-tabs {
    padding: 10px 4px 0px 3px;
    margin-top: 0;
    margin-bottom: -30px;
}
#sidebar.app.collapsed {
    padding: 0;
    top: 5px;
}

#sidebar.app.collapsed::before {
    width: 40px !important;
    left: -4px !important;
    height: 110% !important;
}

#sidebar::before {
    position: absolute;
    z-index: -1;
    content: " ";
    height: calc(100% + 10px);
    width: 100%;
    left: 0;
    top: 5px;
    background: url(../ui/frames/chat.webp);
    background-size: 100% 100%;
}

#sidebar::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 300px;
    height: 76px;
    left: 0;
    background: url(../ui/frames/header.webp);
    background-size: 300px 76px;
}

#sidebar .inline-roll .dice-tooltip {
    background: var(--color-cool-5);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy-shadow);
}
.chat-message .dice-tooltip .dice-rolls .roll.die.min {
    color: var(--criticalFailure);
    text-shadow: var(--text-shadow);
    filter: sepia(0.5) hue-rotate(-60deg);
}
.chat-message .dice-tooltip .dice-rolls .roll.die.max {
    color: var(--success-critical);
    text-shadow: var(--text-shadow);
}
#sidebar .dice-tooltip .part-header .part-total {
    background: var(--color-warm-3);
    text-shadow: var(--text-shadow);
}

#sidebar-tabs > .item:before {
    position: absolute;
    content: ' ';
    background: url(../ui/frames/red_line.webp);
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

#sidebar-tabs {
    text-align: center;
    box-shadow: none;
    border-bottom: none;
    padding: 0 10px;
    margin-top: 25px;
}

#sidebar-tabs > .item {
    line-height: 0px;
    flex: 0 0 22px;
    height: 22px;
    border-radius: 100%;
    margin-bottom: 3px;
}

#sidebar-tabs > .item.active {
    border: 1px solid var(--red-light);
}

#sidebar #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-chat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-comments::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-swords {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-combat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-swords::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-scenes.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-map::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-user {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-actors.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-user::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-items.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-suitcase::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-journal.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-book-open::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-tables.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-th-list::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-playlists.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-music::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-compendium.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-atlas::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-settings.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-cogs::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cards {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-cards.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-cards::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-code {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-macros.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-code::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-folder {
    content: "";
    background-image: url("../ui/sidebar/sidebar-button-folder.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:100% !important;
    background-repeat: no-repeat;
}

#sidebar #sidebar-tabs i.fa-folder::before {
    content: "";
}

/*************************************************************/
/*======================= CHAT TAB ==========================*/
/*************************************************************/
#chat-form {
    margin: 0 5px 5px;
}

#chat-form textarea {
    font-family: "tauri";
    width: 99%;
    margin: 3px 0px 0px 2px;
    background: radial-gradient(var(--color-cool-5-50), transparent)!important;
    color: var(--pfui-main-grey-color);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
}
#chat-form textarea:hover {
    border: none;
    outline: 2px solid var(--color-cool-4);
    box-shadow: var(--box-shadow);
}

#chat-form textarea:focus {
    border: none;
    outline: 2px solid var(--color-cool-4);
    box-shadow: var(--box-shadow);
}

#chat-controls {
    color: var(--rpg-styled-ui-color);
}

#chat-controls::before {
    position: relative;
    content: ' ';
    background: url(../ui/frames/brown_line.webp);
    background-size: 300px 7px;
    left: -3px;
    width: var(--sidebar-width);
    height: 7px;
    bottom: 8px;
}

#chat-log .message {
    position: relative;
    color: var(--rpg-styled-ui-color);
    border: unset;
    background: transparent;
    padding: 10px 10px 15px 10px;
    margin: 0px 0px;
}

#chat-log .message::before {
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    background: url(../ui/frames/chat-texture-light.webp) !important;
    background-size: 95% 110% !important;
    width: calc(100% + 35px);
    height: calc(100% + 15%);
    left: -10px;
    top: -15%;
    z-index: -1;

    filter: brightness(1.4);
}

#chat-log .message.whisper::before {
    background: url(../ui/frames/chat-texture-light-whisper.webp) !important;
    background-size: 100% 100% !important;
    filter: brightness(0.3);
}

#chat-log .message.blind::before {
    background: url(../ui/frames/chat-texture-light-blind.webp) !important;
    background-size: 100% 100% !important;
    filter: brightness(0.8);
}

#chat-log .message .message-header {
    color: var(--pfui-main-color);
    font-size: 16px;
    font-weight: 600;
}

.chat-message .message-content {
    color: var(--color-bg-btn-minor-active);
    text-shadow: 0px 1px 1px black;
}

.chat-message .table-draw .table-description {
    border-top: 1px solid var(--monks-border-color);
    color: var(--pfui-main-color)
}

.chat-message .table-draw .table-results .table-result img.result-image {
    filter: invert(75%);
    border: none;
}

.dice-roll .dice-formula {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background: var(--color-cool-5-50);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy);
    color: var(--pfui-main-color);
    border-radius: 10px;
}

/* Lighten damage type text, e.g. Slashing, Fire, etc */
.dice-roll .dice-result .dice-tooltip h3 {
	filter: brightness(300%);
}

.dice-tooltip .part-header .part-flavor {
    color: var(--pfui-main-color);
}


[data-visibility=gm]:is(div,em,p,span,strong) {
    background: transparent;
    border: transparent;
    background-size: 100% 100%;

}
.flavor-text div.degree-of-success .criticalSuccess{
    color: var(--success-critical)!important;
    text-shadow: var(--text-shadow);
}
.flavor-text div.degree-of-success .success{
    color: var(--success)!important;
    text-shadow: var(--text-shadow);
}
.flavor-text div.degree-of-success .failure{
    color:var(--failure)!important;
    text-shadow: var(--text-shadow);
}
.flavor-text div.degree-of-success .criticalFailure{
    color: var(--criticalFailure)!important;
    text-shadow: var(--text-shadow);
}

.dice-roll .dice-total {
    flex: 0;
    font-size: 24px;
    font-weight: bold;
    text-shadow: var(--pf2e-shadow-is-dark);
    background: var(--color-cool-5-50);
    border: 1px solid var(--color-cool-5);
    box-shadow: var(--glassy);
    color: var(--pfui-main-color);
    border-radius: 10px;
  }
  .dice-roll .dice-total.success {
    color: var(--success-critical)!important;
  }
  .dice-roll .dice-total.failure {
    color: var(--criticalFailure)!important;
  }
  .dice-roll .dice-tooltip {
    display: none;
  }

.flavor-text .adjusted-dc.decreased {
    text-rendering: optimizeLegibility;
    background-color: var(--primary);
    border: 1px solid rgba(255,255,255,0.5);
    text-shadow: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    color: #cfbda7 !important;
    font-family: var(--sans-serif);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 2;
    padding: 3px 3px;
    text-transform: uppercase;
}

.message-sender {
    color: #cfbda7;
    font-weight: bold;
    border-bottom-color: darkred;
    text-decoration: underline;
}

#chat-controls .roll-type-select {
    font-family: Taroca;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 1px;
    background-position: initial;
    border: 1px solid #000;
    background: radial-gradient(var(--color-cool-5-50), transparent)!important;
    box-shadow: var(--box-shadow);
    color: var(--pfui-main-grey-color);
    border-radius: var(--border-radius);
    margin: 0px 3px 0px 3px!important;
    backdrop-filter: blur(5px);
}

#sidebar .sidebar-tab option, .sidebar-tab optgroup {
    color: var(--pfui-main-color);
    background: var(--background)!important;
}


/*************************************************************/
/*================= SIDEBAR FOLDER & WIDGETS ================*/
/*************************************************************/
#sidebar .directory .directory-header .header-search {
    position: relative;
}
#sidebar .directory .directory-header .header-search .fas{
    position: relative;
    color: #a0836c;
}
#sidebar .directory .directory-header .header-search::after{
    position: absolute;
    content: ' ';
    bottom: 3px;
    right: 1%;

    width: 98%;
    height: 1px;

    border-bottom: 1px solid #332a1f;
    box-shadow: 0px 1px 0px 0px #675241;
}
#sidebar .directory .directory-header .header-search input {
    background: none;
    border-radius: 0;
    border: none;
    color: var(--color-text-light-highlight);
    transition: all 0.2s;
}
#sidebar .directory .directory-header .header-search input:focus{
   box-shadow: none;
}
#sidebar .directory .directory-header .header-search input::placeholder {
    color: var(--pfui-main-color)
}

hr {
    border: none;
    border-top: 1px dotted #675241;
    border-bottom:unset;
}


#settings h2 {
    color: var(--pfui-main-color);
    margin: 6px 5px;
    border: none;
    border-bottom: 1px solid #675241;
    background: rgb(125 125 125 / 10%);
}

.sidebar-tab .directory-footer button{
    background-image: url(../ui/buttons/button-red.webp);
    text-align: center;
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    min-height: 32px;
    border: 0px solid #b5b3a4;
    color : white;
    text-shadow: 2px 2px black ;
}
#sidebar li.folder.collapsed > .folder-header h3:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--color-shadow-primary);
}
#sidebar li.folder > .folder-header .create-button:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--color-shadow-primary);
}



/*************************************************************/
/*=============== SIDEBAR FOLDERs AS BUTTONS ================*/
/*************************************************************/
.settings-sidebar #game-details {
    color: var(--pfui-main-grey-color);
    background: var(--color-cool-5-50);
    text-shadow: var(--text-shadow);
}
#settings button, 
#sidebar .directory .action-buttons button {
    z-index: 18;
    color: var(--pfui-main-grey-color)!important;
    font-family: 'Kurale', serif;
    line-height: 25px;
    position: relative;
    background: var(--color-cool-5-50)!important;
    border: 1px solid #332a1f;
    box-shadow: 0px 0px 0px 1px #675241;
    transition: all 0.2s;
}

#sidebar .directory .action-buttons button {
    margin: 6px 5px;
    height: auto;
}

#settings button:hover, 
#sidebar .directory .action-buttons button:hover {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    color: var(--color-warm-1)!important;
    text-shadow: 0 0 15px var(--red-light)!important;
    background: url(../ui/frames/header.webp) center center!important;
    background-size: 100% 45px!important;
    backdrop-filter: blur(5px);
}

#settings button::before,
#sidebar .directory .action-buttons button::before {
    position: absolute;
    content: ' ';
    background: url(../ui/buttons/corner.webp) center center no-repeat;
    background-size: auto;
    width: 13px;
    height: 27px;
    left: -5px;
    top: 0;
    transform: rotate(180deg);
}

#settings button::after,
#sidebar .directory .action-buttons button::after {
    position: absolute;
    content: ' ';
    background: url(../ui/buttons/corner.webp) center center no-repeat;
    background-size: auto;
    width: 13px;
    height: 26px;
    right: -5px;
    top: 0;
}

/*************************************************************/
/*================== COMPENDIUM HEADERS =====================*/
/*************************************************************/
/* scene thumb size */
#scenes .scene h3 {
    line-height: 43px;
    text-shadow: 2px 1px 2px #000;
}
#scenes .scene {
    height: 43px;
}
.compendium-sidebar .directory-item.compendium {
    height: 45px;
    border-bottom: 2px solid transparent;
}
.compendium-sidebar .directory-item.compendium .compendium-name {
    font-size: var(--font-size-14);
    text-transform: uppercase;
    line-height: 0.5rem;
    margin-bottom: 10px;
}
/* #endregion */

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS)*/
#chat-log .message.whisper {
    font-style: italic;
}

#chat-log .chat-portrait-text-size-name {
    overflow: hidden;
    text-overflow: ellipsis;
}



/*************************************************************/
/*========================= HOTBAR ==========================*/
/*************************************************************/
#fps {
    position: absolute;
    right: 0px;
    bottom: 7px;
    width: 60px;
    color: var(--color-warm-1);
    background: var(--color-cool-5);
    border: unset;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}
#fps label {
    display: none;
}
#ui-bottom > div {
    justify-content: center;
}

#hotbar {
    transition: 0.5s ease-out 0.5s;
}

#hotbar #action-bar {
    position: relative;
    background-repeat: no-repeat;
}
#hotbar .macro.inactive {
    background: var(--color-cool-5-75);
    border-radius: 50%;
    border: 2px solid var(--rpg-styled-ui-color);
    box-shadow: var(--glassy) 0px 0px 10px 0px;
}
#hotbar .macro.active {
    background: var(--color-cool-5-75);
    border-radius: 50%;
    border: 2px solid var(--rpg-styled-ui-color);
    box-shadow: var(--glassy) 0px 0px 10px 0px;
}
#hotbar .macro.active:hover {
    border: 2px solid var(--color-warm-2);
}
.hotbar-page {
    width: calc(var(--hotbar-width) + 72px);
}
#action-bar:not(.collapsed)::before {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 146%;
    bottom: -10px;
    left: -23%;
    height: 85px;
    background-image: url(../ui/frames/action_bar.webp);
    background-size: 100% 85px;
    background-repeat: no-repeat;
}
#hotbar .macro:hover {
    box-shadow: 0 0 10px var(--color-shadow-highlight) inset!important;
}
#hotbar .macro .macro-key {
    top: initial;
    bottom: -6px;
    right: -8px;
    z-index: 3;
    color: var(--red-light);
    background: none;
    text-shadow: var(--text-shadow);
}
#hotbar .macro .macro-icon {
    position: relative;
    z-index: 2;
    border-radius: 50%;
}
#hotbar #macro-list {
    grid-gap: 8px;
    border:none;
}
#hotbar .bar-controls {
    color: var(--rpg-styled-ui-color);
    background: unset;
    border: unset;
    box-shadow: unset;
    text-shadow: var(--text-shadow);
}

/* CONTROLS */
#controls {
    padding: 10px 15px;
}
#controls ol .scene-control,
#controls ol .control-tool {
    background: none;
    box-shadow: none;
    border: none;
    color: var(--rpg-styled-ui-color);
}

#controls ol .scene-control.active,
#controls ol .control-tool.active,
#controls ol .scene-control:hover,
#controls ol .control-tool:hover {
    color: var(--pfui-main-color)!important;
    background: url(../ui/buttons/controls_btn_accent.webp);
    border-color: transparent !important;
    box-shadow: none!important;
}

#controls ol .scene-control.active:before,
#controls ol .control-tool.active:before,
#controls ol .scene-control:hover:before,
#controls ol .control-tool:hover:before {
    background: url(../ui/buttons/controls_btn_accent.webp);
    background-size: 100% 100%;
}

#controls ol > li {
    position: relative;
}

#controls ol > li.scene-control:before,
#controls ol > li.control-tool:before
{
    position: absolute;
    left: -9%;
    top: -15%;

    content: " ";
    width: 130%;
    height: 130%;

    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
}
.application .controls-dropdown.expanded {
    box-shadow: unset;
    background: unset;
}

/* DIALOG */
.dialog-content textarea {
    color: #cfbda7;
    background: #ffffff14;
    font-family: inherit;
    font-size: inherit;
}

.app.window-app.chat-popout .window-header {
    background: rgba(6, 4, 3, 0.92);
}

.app.window-app.chat-popout .window-content {
    background: #8C6857;
    background-size: 100% 100%;
}

.app.window-app.chat-popout .window-content .chat-message {
    background: rgba(6, 4, 3, 0.92);
}
.app.window-app,
.app.window-app.dialog,
.app.window-app.folder-edit {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 2px 2px 2px 2px;
    border-radius: 0;
}

.window-app.dialog .window-content,
.window-app.folder-edit .window-content {
    color: var(--pfui-main-grey-color);
    background: none;
    backdrop-filter: blur(5px);
}

.window-app.dialog .window-header,
.window-app .window-header {
    background: unset;
    box-shadow: unset;
    border: none;
    color: var(--pfui-main-color);
}
.window-app .window-header::after,
.window-app.dialog .window-header::after,
.window-app.folder-edit .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -7px;
    background: url(../ui/frames/header.webp);
    background-size: 100% 45px;
}
.dialog button, 
.folder-edit button,
.application button,
.application a.button, 
.roll-modifiers-dialog .roll,
.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default,
.dialog .dialog-buttons button:last-child,
.application .window-header button.header-control {
    font-weight: 600;
    color: var(--pfui-main-grey-color);
    background: var(--color-warm-3);
    border: 1px solid transparent;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.dialog button:hover, 
.folder-edit button:hover,
.application button:hover,
.application a.button:hover,
.dialog-buttons button:hover,
.roll-modifiers-dialog .roll:hover,
.dialog .dialog-buttons button.default:hover,
.dialog .dialog-buttons button:last-child:hover,
.application .window-header button.header-control:hover {
    border: none;
    background: none;
    background-color: var(--green) !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, border-radius 0.15s;
    text-shadow: var(--text-shadow) !important;
    color: var(--color-cool-5) !important;
    border-radius: var(--border-radius);
}

.folder-edit form .form-group label,
.folder-edit form .form-group label {
    color: var(--pfui-main-color);
}
.dialog .dialog-buttons {
    border: none;
}
.dialog button:hover::after,
.folder-edit button:hover::after {
    opacity: 1;
}
.dialog input,
.folder-edit input {
    border: none;
   color: #ddc5b9;
    background: #ffffff14;
}

:root .damage.color.bludgeoning, 
:root .damage.color.piercing, 
:root .damage.color.slashing {
    --color-bg-physical: rgba(132, 132, 132, 0.125);
    background-color: var(--color-bg-physical);
    --color-border-physical: #737272;
    border-color: var(--color-border-physical);
    --color-text-physical: #a0a0a0;
    color: var(--color-text-physical);
}
.roll-modifiers-dialog .toggle {
    --secondary: var(--color-cool-3);
    background: var(--secondary);
}
.roll-modifiers-dialog .dialog-row.disabled .toggle {
    background: var(--red-light);
}
.dialog input:focus,
.folder-edit input:focus {
    box-shadow: none;
    outline: 1px solid #584a75;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    accent-color: var(--green);
}
input[type="checkbox"]:checked:hover {
    accent-color: var(--color-warm-2);
}

.dialog select,
.folder-edit select,
#generate-check-prompt .dialog-content tags.tagify {
    border: 0;
    background: var(--rpg-styled-ui-color);
}

.folder-edit input[type="color"][data-edit][data-edit] {
    border: none;
    color: #ddc5b9;
    background: #ffffff14;
}

/* ACTOR AND ITEM */
button#roll-hd {
    position: relative;
    color: var(--pfui-main-color);
    border: none;
}

button#roll-hd:hover,button#roll-hd:active{
    box-shadow: none;
}

button#roll-hd::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 140%;
    top: -20%;
    left: 0%;
    background: url(../ui/buttons/btn-dnd5e-card.webp);
    background-size: 100% 100%;
    z-index: -1;
}
button#roll-hd:hover::before {
    background: url(../ui/buttons/btn-dnd5e-card_hover.webp);
    background-size: 100% 100%;
}

/* NAVIGATION */
#ui-top {
    width: calc(103%);
}

#navigation #nav-toggle {
    background: none;
    border: none;
}

#navigation .nav-item {
    margin: 0 14px 8px 0;
}

#navigation #scene-list.vertical .scene.nav-item {
    float: none;
    width: fit-content;
    display: table;
}

#navigation #scene-list .scene.nav-item {
    float: left;
    border: none;
    background: none;
    min-width: 80px;
    text-align: center;
}

#nav-toggle {
    width: 36px;
    height: 36px;
    color: var(--pfui-main-color);
}

#nav-toggle::after {
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    left: -8px;
    top: -9px;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
}


#navigation #scene-list .scene.nav-item {
    position: relative;
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    font-weight: 600;
}

#navigation #scene-list .scene.nav-item::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
    opacity: 0.88;
}
#navigation #scene-list .scene.active {
    color: var(--color-warm-1);
    background: url(../ui/buttons/controls_btn_active.webp);
    background-size: 100% 100%;
    border: none;
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.active.view {
    color: var(--color-warm-1);
    background: url(../ui/buttons/controls_btn_active_view_gm.webp);
    background-size: 100% 100%;
    border: none;
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.view.gm {
    color: var(--color-warm-1);
    background: url(../ui/buttons/controls_btn_view_gm.webp);
    background-size: 100% 100%;
    border: none;
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.view {
    color: var(--color-warm-1);
    background: url(../ui/buttons/controls_btn_active_view_gm.webp);
    background-size: 100% 100%;
    border: none;
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.gm {
    background: url(../ui/buttons/controls_btn_accent.webp);
    background-size: 100% 100%;
    border: none;
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.nav-item:hover,
#navigation #scene-list .scene.active:hover,
#navigation #scene-list .scene.active.view:hover,
#navigation #scene-list .scene.view.gm:hover,
#navigation #scene-list .scene.view:hover {
    color: var(--green);
    text-shadow: var(--text-shadow);
}
#navigation #scene-list .scene.view, 
#navigation #scene-list .scene.context {
    box-shadow: none;
}



/* PLAYERS */

#players {
    background: none;
    border: none;
    box-shadow: none;
    bottom: 25px;
    left: 25px;
}

#players h3 .players-mode {
    position: relative;
    float: right;
    top: 10px;
    right: -12px;
}

#players h3 .players-mode::after {
    position: absolute;
    content: " ";
    width: 34px;
    height: 32px;
    top: -7px;
    background: url(../ui/buttons/players_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.6;
    left: -11px;
}

#players h3 {
    position: relative;
    color: #e9e9da;
    border-bottom: none;
    font-family: 'Kurale', serif;
    font-weight: 800;

    text-shadow: 2px 0 0 var(--border-color),
                -2px 0 0 var(--border-color),
                0 2px 0 var(--border-color),
                0 -2px 0 var(--border-color),
                1px 1px var(--border-color),
                -1px -1px 0 var(--border-color),
                1px -1px 0 var(--border-color),
                -1px 1px 0 var(--border-color);
}

#players h3::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    background: url(../ui/frames/players_header.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}

#players ol {
    position: relative;
    font-family: 'Kurale', serif;
    font-weight: 400;
}

#players ol::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../ui/frames/players_bg_dark.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}

#players ol li.player {
    text-shadow: 2px 0 0 var(--border-color),
    -2px 0 0 var(--border-color),
    0 2px 0 var(--border-color),
    0 -2px 0 var(--border-color),
    1px 1px var(--border-color),
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color);
}

/*************************************************************/
/*======================== Playlist =========================*/
/*************************************************************/
.playlists-sidebar h4 {
    text-shadow: (var(--text-shadow));
}
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: unset;
    border-radius: 3px;
    background: var(--color-cool-5);
    border: 1px solid var(--color-cool-4);
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, var(--green)33%, var(--red-light));
}
input[type=range]::-webkit-slider-thumb {
    border-radius: 50%;
    box-shadow: unset;
}
input[type=range]:disabled::-webkit-slider-thumb {
    background: var(--color-cool-3);
    border: 1px solid var(--color-cool-4);
    background: var(--color-cool-4);
    border: 1px solid var(--color-cool-3);
}
input[type=range]:not(:disabled)::-webkit-slider-thumb {
    background: var(--color-warm-2);
    border: 1px solid var(--color-warm-1);
    transition: outline 0.15s;
}
input[type=range]:not(:disabled)::-webkit-slider-thumb:hover {
    background: var(--color-warm-3);
}
.playlists-sidebar .sound-control[data-action="sound-stop"] {
    color: var(--color-warm-2);
    transition: outline 0.15s;
}
.playlists-sidebar .sound-control[data-action="sound-stop"]:hover {
    color: var(--color-warm-1);
}
.playlists-sidebar .sound-control {
    color: var(--green);
    transition: outline 0.15s;
}
.playlists-sidebar .sound-control:hover {
    color: var(--color-warm-2);
}
