:root{
  --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  --glassy-shadow: var(--glassy) , var(--box-shadow);
  --glass-bg: rgba(20, 20, 20, 0.6);
  --glass-bg-light: rgba(255, 255, 255, 0.1);
  --glass-bg-dark: rgba(0, 0, 0, 0.7);
  --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
  --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-light);
  --pf2e-translucent-middle-for-light: hsla(0, 0%, 80%,0.5);
  --pf2e-translucent-very: var(--pf2e-translucent-very-for-light);
  --pf2e-transcluent-very-for-light: hsla(0, 0%, 60%,0.2);
  --header-text-shadow: var(--pf2e-shadow-is-dark);
  --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
  --filter-dark: invert(100%) drop-shadow(0px 1px 1px black);
  --pf2e-half-transparent-dark: hsla(0, 0%, 0%,0.5);
  --color-text-hyperlink: #ff6400;
  --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
  --red: #5e0000;
  --red-light:#ff0000;
  --custom-trait:#61180e;
  --green: #91a82a;
  --pfui-main-color: #cfbda7;
  --pfui-main-grey-color: #98968a;
  --rpg-styled-ui-color: #837360;
  --primary-remaster: hsl(153, 100%, 8%);
--primary-light-remaster: hsl(170, 96%, 19%);

  --ornamentation-gray: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
  
  --ornement : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1{stroke:wheat;stroke-miterlimit:10}.st1,.st2{fill:none}%3C/style%3E%3Cg opacity='0.75'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zm3.1 3.1h3.1v3.1H3.6zm3.2 0h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zm0 0H.5V13M13 .5H6.8v3.1M29.4.5h3.1v3.1h-3.1zm-3.1 3.1h3.1v3.1h-3.1zm0 3.2h3.1v3.1h-3.1zm-3.2-3.2h3.1v3.1h-3.1zm3.2 0V.5H20M32.5 13V6.8h-3.1M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zm-3.2 0h3.1v3.1h-3.1zm3.2-3.2h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zm3.1-3.1h3.1v3.1H3.6zm0-3.2h3.1v3.1H3.6zm3.2 3.2h3.1v3.1H6.8zM6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  --border-radius: 3px;
  --border-radius-5: 5px;
  --box-shadow: 0px 1px 3px 1px black;
  --box-shadow-light: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4), inset 0px 0px 3px 1px var(--color-cool-3);

  --bg3-blue: #183541;
  --bg3-blue-light: #0c93bd;
  --bg3-alliance-opposition-red: #de1847;
  --button-hover-background: radial-gradient(circle, var(--bg3-alliance-opposition-red) 0, black 100%);
  --button-toggle-hover-background: radial-gradient(circle, var(--bg3-blue-light) 0, var(--bg3-blue) 100%);
  --text-color-1: #f7f3e8;
  --button-hover-text-color: var(--text-color-1);

  /*--color-rarity-common: #7e7e7e;*/
  --color-rarity-common: var(--color-cool-1);
  --color-rarity-uncommon: #ff6400;
  --color-rarity-rare: #0062ff;
  --color-rarity-unique: #e127e1;

  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-border-color: var(--color-cool-3);
  --input-focus-text-color: var(--color-light-2);
  --input-text-color: var(--color-light-3);
  --input-placeholder-color: var(--color-light-4);
  --input-text-selection-color: var(--color-cool-3);
  --input-focus-outline-color: var(--color-cool-3);


/* Foundry2
====================================================== */
  --color-light-1: #f7f3e8;
  --color-light-1-90: #f7f3e890;
  --color-light-2: #efe6d8;
  --color-light-2-90: #efe6d890;
  --color-light-3: #e7d1b1;
  --color-light-3-90: #e7d1b190;
  --color-light-4: #d0b8a3;
  --color-light-4-90: #d0b8a390;
  --color-light-5: #9f8475;
  --color-light-5-90: #9f847590;
  --color-light-6: #816b66;
  --color-light-6-90: #816b6690;
  --color-warm-1: #ee9b3a;
  --color-warm-1-90: #ee9b3a90;
  --color-warm-2: #c9593f;
  --color-warm-2-90: #c9593f90;
  --color-warm-3: #5d142b;
  --color-warm-3-90: #5d142b90;
  --color-warm-4: #420418;
  --color-warm-4-90: #42041890;
  --color-warm-5: #26020d;
  --color-warm-5-90: #26020d90;
  --color-cool-1: #b1a0d4;
  --color-cool-1-90: #b1a0d490;
  --color-cool-2: #79689c;
  --color-cool-2-90: #79689c90;
  --color-cool-3: #584a75;
  --color-cool-3-90: #584a7590;
  --color-cool-4: #302831;
  --color-cool-4-90: #30283190;
  --color-cool-5: #0b0a13;
  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);

  --color-level-error: #ce0707;
  --color-level-error-bg: rgba(105, 0, 8, 0.8);
  --color-level-error-border: #750003;
  --color-level-info: #59a1f6;
  --color-level-info-bg: rgba(47, 80, 132, 0.8);
  --color-level-info-border: #5c87b9;
  --color-level-success: #26b231;
  --color-level-success-bg: rgba(26, 107, 34, 0.8);
  --color-level-success-border: #1b8f23;
  --color-level-warning: #ee9b3a;
  --color-level-warning-bg: rgba(214, 150, 0, 0.8);
  --color-level-warning-border: #b18404;
  --color-scrollbar: #5d142b;
  --color-scrollbar-border: #8d151b;


/* PF2e Modifiers Matter
====================================================== */
  --pf2emm-color-essential: #008000;
  --pf2emm-color-essential-outline: #008000bf;
  --pf2emm-color-helpful: #91a82a;
  --pf2emm-color-helpful-outline: #91a82abf;
  --pf2emm-color-harmful: #ff0000;
  --pf2emm-color-harmful-outline: #ff0000bf;
  --pf2emm-color-detrimental: #ff852f;
  --pf2emm-color-detrimental-outline: #ff852fbf;
}


/* PF2e HUD
====================================================== */

[id^=pf2e-hud].app, 
[id^=pf2e-hud] .app {
  --icon-color: var(--color-light-4);
  gap: 5px;
  background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  border: 1px solid var(--color-warm-5);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent-portrait .bottom {
  background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  backdrop-filter: blur(5px);
}
#pf2e-hud-persistent-main .group.stretch .bottom .shortcuts .shortcut-group .shortcut.empty {
  background: var(--color-cool-5-50);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  color: var(--pfui-main-grey-color);
  border: 2px dotted var(--color-warm-5);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent #hotbar #action-bar {
  gap: 5px;
}
#pf2e-hud-persistent #hotbar #macro-list {
  background: unset;
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  color: var(--pfui-main-grey-color);
  border: unset;
  box-shadow: unset;
}
#pf2e-hud-persistent #hotbar #macro-list>li {
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  backdrop-filter: blur(10px);
  border-radius: 50%;
  text-shadow: var(--text-shadow);
  color: var(--pfui-main-grey-color);
  border: 1px solid var(--color-warm-5);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent #hotbar #macro-list>li img {
filter: grayscale(1);
}
#pf2e-hud-persistent #hotbar #macro-list>li img:hover {
  filter: contrast(1);
  }
#pf2e-hud-persistent #hotbar #hotbar-page-controls {
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  color: var(--pfui-main-grey-color);
  border: 1px solid var(--color-warm-5);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent-main .group.stretch .bottom .shortcuts .shortcut-group .shortcut .name,
#pf2e-hud-persistent-main .group.stretch .bottom .shortcuts .shortcut-group .shortcut .subtitle,
#pf2e-hud-persistent-main .group.stretch .bottom .shortcuts .shortcut-group .shortcut .variants .variant.attack {
    color: var(--pfui-main-color);
     background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
    border: unset;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    backdrop-filter: blur(10px);
}
#pf2e-hud-persistent-effects .effect-item>.icon {
  border-radius: 50%;
  text-shadow: var(--text-shadow);
  color: var(--pfui-main-grey-color);
  border: 1px solid var(--color-warm-5);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent-effects .effect-item>.icon .value-wrapper {
  color: var(--pfui-main-color);
  background: var(--red);
  border: 1px solid var(--color-cool-3);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}
#pf2e-hud-persistent-effects .effect-item .effect-info {
  background: var(--color-cool-5-50);
  color: var(--pfui-main-grey-color);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
}
#pf2e-hud-persistent-effects .effect-item .effect-info a.content-link, 
#pf2e-hud-persistent-effects .effect-item .effect-info a.inline-roll {
  font-family: 'Good OT';
  color: var(--pfui-main-color);
  text-shadow: var(--text-shadow);
  background: var(--color-warm-3);
  padding: 0px 3px;
  border: 1px solid var(--glassy);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}




/*sidebar*/
#pf2e-hud-sidebar header {
  color: var(--pfui-main-color);
  background: var(--color-cool-5-90);
  border: 1px solid var(--color-cool-4);
}
#pf2e-hud-sidebar .inner.actions {
  --max-column-width: 19em;
  --attack-background: #171f693d;
  --attack-border-color: var(--color-rarity-rare);
  --damage-background: var(--primary);
  --damage-border-color: var(--red-light);
  --category-width: 1.2em;
}
#pf2e-hud-sidebar .item-list {
  color: var(--color-light-3);
  text-shadow: var(--text-shadow);
  outline: 1px solid var(--color-cool-5);
  border-radius: var(--border-radius);
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}
#pf2e-hud-sidebar .sidebars:not(.bottom) {
  color: var(--pfui-main-grey-color);
  text-shadow: var(--text-shadow);
  outline: 1px solid var(--color-cool-5);
  border-radius: var(--border-radius);
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}
#pf2e-hud-sidebar a.disabled {
  color: var(--color-warm-2);
}
#pf2e-hud-sidebar .inner.actions .item .variant.attack {
  color: var(--pfui-main-color);
  text-shadow: var(--text-shadow);
  background: var(--secondary);
}
#pf2e-hud-sidebar .inner.actions .item .variant.damage {
  color: var(--pfui-main-color);
  text-shadow: var(--text-shadow);

}
#pf2e-hud-sidebar .inner.actions .item .variant.attack:hover,
#pf2e-hud-sidebar .inner.actions .item .variant.damage:hover {
background: var(--green);
    color: var(--color-cool-5);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    text-shadow: var(--text-shadow);
}
#pf2e-hud-sidebar .variants .variant {
  background: var(--green);
  border: unset;
  color: var(--color-cool-5);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
#pf2e-hud-sidebar .variants .variant:hover {
  text-shadow: var(--text-shadow);
  background: var(--color-warm-2);
  color: var(--pfui-main-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

/*Other*/
#pf2e-hud-persistent-menu i.fa-solid.fa-lock {
  color: var(--red-light);
}
#pf2e-hud-persistent-menu i.fa-solid.fa-lock-open {
  color: var(--green);
}
[data-section="level"] i:not(.carret) {     
  --icon-color: var(--bg3-alliance-opposition-red); 
} 
[data-section="speeds"] i:not(.carret) {     
  --icon-color: var(--color-cool-1); 
} 
[data-section="hero-points"] i:not(.carret) {     
  --icon-color: var(--bg3-blue-light); 
} 
[data-section="fortitude"] {
  --icon-color: #dc9456; 
}
[data-section="reflex"] {
  --icon-color: #dc9456; 
}  
[data-section="will"] {
  --icon-color: #dc9456; 
} 
[data-section="dying"] i:not(.carret) {
  --icon-color: #b01717;
} 
[data-section="wounded"] i:not(.carret) {
  --icon-color: #ff595e;
} 
[data-section="hp"] {
  --icon-color: #1fb222;
}
[data-section="temp-hp"] {   
 --icon-color: var(--bg3-blue-light);
} 
[data-section="ac"] {   
 --icon-color: #aab0b3;
}
[data-sidebar="actions"], 
[data-sidebar="items"],
[data-sidebar="spells"],
[data-sidebar="skills"], 
[data-sidebar="extras"] {    
  --icon-color: var(--color-warm-1);
}
[id^=pf2e-hud] [data-section].info.active {  
  --icon-color: var(--green);
} 
[data-section="effects"],
[id^=pf2e-hud] [data-section][data-section=sidebar].active i {    
  --icon-color: var(--bg3-alliance-opposition-red);
  color: var(--icon-color);
} 
[data-section="perception"],
[data-section="stealth"],
[data-section="athletics"] {    
  --icon-color: var(--color-cool-2);
}

/*None/Raise Shield/Broken*/
[id^=pf2e-hud] [data-section] i.fa-regular.fa-shield {   
  --icon-color: #aab0b3;
 }
[id^=pf2e-hud] [data-section] i.fa-solid.fa-shield {
  color: #1fb222;
} 
[id^=pf2e-hud] [data-section] i.fa-regular.fa-shield-slash {
  color: var(--red-light);
}
/*end*/

/*Weak/Normal/Elite*/
[id^=pf2e-hud] [data-section] i.icon.fa-thin.fa-alien-8bit {   
  color: var(--green);
 }
[id^=pf2e-hud] [data-section] i.icon.fa-regular.fa-alien-8bit {
  color: var(--color-warm-1);
} 
[id^=pf2e-hud] [data-section] i.icon.fa-solid.fa-alien-8bit {
  color: var(--red-light);
}
/*end*/

[id^=pf2e-hud] a:hover,
#pf2e-hud-sidebar .item.statistic:hover .skill,
#pf2e-hud-sidebar .item:has(.image):hover {
  --icon-color: var(--green);
  text-shadow: var(--text-shadow);
}
#pf2e-hud-token-main.exploded .panel.bottom, 
#pf2e-hud-token-main.exploded .panel.top,
#pf2e-hud-token-main.exploded .panel.right,
#pf2e-hud-token-main.exploded .panel.left {
  color: var(--color-light-3);
  text-shadow: var(--text-shadow);
  outline: 1px solid var(--color-cool-5);
  border-radius: var(--border-radius);
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}
[id^=pf2e-hud-popup-] {
  color: var(--color-light-3);
  text-shadow: var(--text-shadow);
  outline: 1px solid var(--color-cool-5);
  border-radius: var(--border-radius);
  background: var(--color-cool-5-50);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}


/*Tooltips*/
#pf2e-hud-tooltip .distance, 
#pf2e-hud-tooltip .status, 
#pf2e-hud-tooltip .inner {
  text-shadow: var(--text-shadow);
  outline: 1px solid var(--color-cool-5);
  border-radius: var(--border-radius);
   background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
}



/*spell*/
#pf2e-hud-sidebar a:hover {
  text-shadow: var(--text-shadow);
  color: var(--color-warm-1) !important;
}
#pf2e-hud-sidebar .inner.spells .item .details .extras .actions {
  color: var(--green);
}
#pf2e-hud-sidebar .inner.spells .item[data-slot-expended] .details .name {
  --color-disabled: #ff6400;
  color: var(--color-disabled)!important;
}

/*Combat Tracker*/
#pf2e-hud-tracker {
  gap: 5px;
  background: radial-gradient(var(--color-cool-4-90) -200%, var(--color-cool-5-90));
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  text-shadow: var(--text-shadow);
  color: var(--color-cool-1);
  border: 1px solid var(--color-warm-5);
  box-shadow: var(--box-shadow);
  outline: 1px solid var(--color-warm-5); 
}
#pf2e-hud-tracker header {
  color: var(--color-darker);
  border-bottom: none;
}
#pf2e-hud-tracker header .title {
  color: var(--green);
}
#pf2e-hud-tracker footer {
  color: var(--color-darker);
  border-top: none;
}
#pf2e-hud-tracker .combatants .combatant.active {
  background: rgba(var(--disposition-color), 0.05);
  border-color: unset;
  border: 1px dotted rgb(var(--disposition-color));
}
#pf2e-hud-tracker .combatants .combatant .extras .initiative span {
  color: var(--color-warm-1)!important;
}
#pf2e-hud-tracker .combatants .combatant .extras .initiative i.fa-solid.fa-dice-d20 {
  color: var(--color-warm-1)!important;
}
#pf2e-hud-tracker .combatants .combatant .extras .health {
  color: var(--green);
}

/*ressources*/
#pf2e-hud-resources .window-content {
  text-shadow: var(--text-shadow);
  backdrop-filter: blur(5px);
  color: var(--color-cool-1);
  border: none;
  border-radius: var(--border-radius);
}

/*Dices*/
#pf2e-hud-dice {
border: unset;
}
#pf2e-hud-dice .flat,
#pf2e-hud-dice .die {
  --die-fill: var(--pfui-main-grey-color);
  fill: var(--die-fill);
}
#pf2e-hud-dice .flat:hover,
#pf2e-hud-dice .die:hover {
  --die-fill: var(--green);
}
#pf2e-hud-dice .flat span {
  --flat-color:var(--red);
  color: var(--flat-color);
}

/*Time*/
#pf2e-hud-time {
  padding-block: 1.2rem 0.5rem;
  margin-bottom: -25px;
}
